<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="hu.bme.mit.incqueryd.arch.reteextractor.extract"
            name="Extract IncQuery-D Rete Layout">
      </command>
      <category
            id="hu.bme.mit.incqueryd.arch.reteextractor.category"
            name="IncQuery-D Rete Extractor">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hu.bme.mit.incqueryd.arch.reteextractor.handlers.InitializeReteExtractorHandler"
            commandId="hu.bme.mit.incqueryd.arch.reteextractor.extract">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <or>
                     <instanceof
                           value="org.eclipse.incquery.tooling.ui.queryexplorer.content.matcher.ObservablePatternMatcher">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.incquery.tooling.ui.queryexplorer.content.matcher.ObservablePatternMatcherRoot">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.incquery.tooling.ui.queryexplorer.QueryExplorer.treeViewerMenu">
         <command
               commandId="hu.bme.mit.incqueryd.arch.reteextractor.extract"
               label="Extract IncQuery-D Rete Layout"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
