<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Inventory -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="inventory.presentation.InventoryModelWizardID"
            name="%_UI_InventoryModelWizard_label"
            class="inventory.presentation.InventoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InventoryModelFile.gif">
         <description>%_UI_InventoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Inventory -->
      <editor
            id="inventory.presentation.InventoryEditorID"
            name="%_UI_InventoryEditor_label"
            icon="icons/full/obj16/InventoryModelFile.gif"
            extensions="inventory"
            class="inventory.presentation.InventoryEditor"
            contributorClass="inventory.presentation.InventoryActionBarContributor">
      </editor>
   </extension>

</plugin>
