<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.machine"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.MachineQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.machine">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.cluster"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.ClusterQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.cluster">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.storage"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.StorageQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.storage">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.storageToMachine"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.StorageToMachineQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.storageToMachine">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.objectsInCluster"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.ObjectsInClusterQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.objectsInCluster">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.reteRecipe"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.ReteRecipeQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.reteRecipe">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.reteNodeInContainer"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.ReteNodeInContainerQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.reteNodeInContainer">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.indexerInContainer"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.IndexerInContainerQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.indexerInContainer">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.uniquenessEnforcerNode"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.UniquenessEnforcerNodeQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.uniquenessEnforcerNode">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.alphaNode"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.AlphaNodeQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.alphaNode">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.betaNode"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.BetaNodeQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.betaNode">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.productionNode"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.ProductionNodeQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.productionNode">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.inputNode"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.InputNodeQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.inputNode">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.indexerNode"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.IndexerNodeQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.indexerNode">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.parent"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.ParentQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.parent">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.leftix"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.LeftixQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.leftix">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.rightix"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.RightixQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.rightix">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.multi2parents"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.Multi2parentsQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.multi2parents">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.inputedges"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.InputedgesQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.inputedges">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incqueryd.arch.incquery.visualization.infrastructure"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incqueryd.arch.incquery.visualization.util.InfrastructureQuerySpecification$Provider"
            id="hu.bme.mit.incqueryd.arch.incquery.visualization.infrastructure">
      </matcher>
   </extension>

</plugin>
