<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="hu.bme.mit.incqueryd.tooling.ide.commands.install.full"
            name="IncQuery-D: Install System (Full)">
      </command>
      <command
            id="hu.bme.mit.incqueryd.tooling.ide.commands.install.light"
            name="IncQuery-D: Install System (Light)">
      </command>
      <command
            id="hu.bme.mit.incqueryd.tooling.ide.commands.deploy"
            name="IncQuery-D: Deploy Architecture">
      </command>
      <command
            id="hu.bme.mit.incqueryd.tooling.ide.commands.start"
            name="IncQuery-D: Start Query">
      </command>
      <command
            id="hu.bme.mit.incqueryd.tooling.ide.commands.check"
            name="IncQuery-D: Check Query Results">
      </command>
      <command
            id="hu.bme.mit.incqueryd.tooling.ide.commands.stop"
            name="IncQuery-D: Stop Architecture">
      </command>
      <command
            id="hu.bme.mit.incqueryd.tooling.ide.commands.uninstall"
            name="IncQuery-D: Uninstall System">
      </command>
      <command
            id="hu.bme.mit.incqueryd.tooling.ide.commands.allocate.local"
            name="IncQuery-D: Allocate to Local Machine">
      </command>
      <command
            id="hu.bme.mit.incqueryd.tooling.ide.commands.allocate.infrastructure"
            name="IncQuery-D: Allocate to Infrastructure">
      </command>
      <command
            id="hu.bme.mit.incqueryd.tooling.ide.commands.download"
            name="IncQuery-D: Download Runtime Installer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <separator
		       name="separator-0"
		       visible="true">
		</separator>
         <command
               commandId="hu.bme.mit.incqueryd.tooling.ide.commands.install.full"
               style="push">
         </command>
         <command
               commandId="hu.bme.mit.incqueryd.tooling.ide.commands.install.light"
               style="push">
         </command>
        <separator
		       name="separator-1"
		       visible="true">
		</separator>
         <command
               commandId="hu.bme.mit.incqueryd.tooling.ide.commands.deploy"
               style="push">
         </command>
         <command
               commandId="hu.bme.mit.incqueryd.tooling.ide.commands.start"
               style="push">
         </command>
         <command
               commandId="hu.bme.mit.incqueryd.tooling.ide.commands.check"
               style="push">
         </command>
        <separator
		       name="separator-2"
		       visible="true">
		</separator>
         <command
               commandId="hu.bme.mit.incqueryd.tooling.ide.commands.stop"
               style="push">
         </command>
         <command
               commandId="hu.bme.mit.incqueryd.tooling.ide.commands.uninstall"
               style="push">
         </command>
         <separator
		       name="separator-3"
		       visible="true">
		</separator>
         <command
               commandId="hu.bme.mit.incqueryd.tooling.ide.commands.allocate.local"
               style="push">
         </command>
         <command
               commandId="hu.bme.mit.incqueryd.tooling.ide.commands.allocate.infrastructure"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hu.bme.mit.incqueryd.tooling.ide.FullInstallArchitectureHandler"
            commandId="hu.bme.mit.incqueryd.tooling.ide.commands.install.full">
         <enabledWhen>
            <reference
                  definitionId="hu.bme.mit.incqueryd.tooling.deployment.definitions.archSelected">
            </reference></enabledWhen>
      </handler>
      <handler
            class="hu.bme.mit.incqueryd.tooling.ide.LightInstallArchitectureHandler"
            commandId="hu.bme.mit.incqueryd.tooling.ide.commands.install.light">
         <enabledWhen>
            <reference
                  definitionId="hu.bme.mit.incqueryd.tooling.deployment.definitions.archSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="hu.bme.mit.incqueryd.tooling.ide.DeployArchitectureHandler"
            commandId="hu.bme.mit.incqueryd.tooling.ide.commands.deploy">
         <enabledWhen>
            <reference
                  definitionId="hu.bme.mit.incqueryd.tooling.deployment.definitions.archSelected">
            </reference>
         </enabledWhen>
      </handler>	 
      <handler
            class="hu.bme.mit.incqueryd.tooling.ide.StartArchitectureHandler"
            commandId="hu.bme.mit.incqueryd.tooling.ide.commands.start">
         <enabledWhen>
            <reference
                  definitionId="hu.bme.mit.incqueryd.tooling.deployment.definitions.archSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="hu.bme.mit.incqueryd.tooling.ide.CheckArchitectureHandler"
            commandId="hu.bme.mit.incqueryd.tooling.ide.commands.check">
         <enabledWhen>
            <reference
                  definitionId="hu.bme.mit.incqueryd.tooling.deployment.definitions.archSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="hu.bme.mit.incqueryd.tooling.ide.StopArchitectureHandler"
            commandId="hu.bme.mit.incqueryd.tooling.ide.commands.stop">
         <enabledWhen>
            <reference
                  definitionId="hu.bme.mit.incqueryd.tooling.deployment.definitions.archSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="hu.bme.mit.incqueryd.tooling.ide.UninstallArchitectureHandler"
            commandId="hu.bme.mit.incqueryd.tooling.ide.commands.uninstall">
         <enabledWhen>
            <reference
                  definitionId="hu.bme.mit.incqueryd.tooling.deployment.definitions.archSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="hu.bme.mit.incqueryd.tooling.ide.LocalAllocationHandler"
            commandId="hu.bme.mit.incqueryd.tooling.ide.commands.allocate.local">
         <enabledWhen>
            <reference
                  definitionId="hu.bme.mit.incqueryd.tooling.deployment.definitions.recipeSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="hu.bme.mit.incqueryd.tooling.ide.InfrastructureAllocationHandler"
            commandId="hu.bme.mit.incqueryd.tooling.ide.commands.allocate.infrastructure">
         <enabledWhen>
            <reference
                  definitionId="hu.bme.mit.incqueryd.tooling.deployment.definitions.recipeSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="hu.bme.mit.incqueryd.tooling.ide.DownloadInstallerHandler"
            commandId="hu.bme.mit.incqueryd.tooling.ide.commands.download">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="hu.bme.mit.incqueryd.tooling.ide.preferences.IncQueryDPreferencePage"
            id="hu.bme.mit.incqueryd.tooling.ide.preferences.IncQueryDPreferencePage"
            name="IncQuery-D">
      </page>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="hu.bme.mit.incqueryd.tooling.ide.toolbar">
            <command
                  commandId="hu.bme.mit.incqueryd.tooling.ide.commands.download"
                  icon="icons/DownloadInstaller.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="hu.bme.mit.incqueryd.tooling.ide.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="hu.bme.mit.incqueryd.tooling.deployment.definitions.recipeSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <test
                     property="org.eclipse.core.resources.extension"
                     value="recipe">
               </test>
            </iterate>
         </with>
      </definition>
      <definition
            id="hu.bme.mit.incqueryd.tooling.deployment.definitions.archSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <test
                     property="org.eclipse.core.resources.extension"
                     value="arch">
               </test>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
