@import "../valo/valo.scss";

@mixin iqdtheme {

  @include valo;

  .v-window-devpanel {
    border: ridge;
    z-index: 1000;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .v-button {
  	border: ridge;
  	
  }
}
