<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 ******************************************************************************
 * Copyright (c) 2013 Oracle
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    Konstantin Komissarchik - initial implementation and ongoing maintenance
 ******************************************************************************
-->

<plugin>

  <extension point="org.eclipse.ui.editors">
    <editor
      id="hu.bme.mit.incqueryd.reteeditor.SystemStructureEditor"
      class="hu.bme.mit.incqueryd.reteeditor.SystemStructureEditor"
      default="true"
      filenames="rete.xml"
      name="UML Editor (Sapphire Sample)"
      icon="SapphireFile.png"/>
  </extension>
  
</plugin>
