<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="hu.bme.mit.incqueryd.tooling.monitoring.StartMonitoringHandler"
            id="hu.bme.mit.incqueryd.tooling.monitoring.commands.startMonitoring"
            name="Start Monitoring">
      </command>
      <command
            defaultHandler="hu.bme.mit.incqueryd.tooling.monitoring.ShowDashboardHandler"
            id="hu.bme.mit.incqueryd.tooling.monitoring.commands.showDashboard"
            name="Show Dashboard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="hu.bme.mit.incqueryd.tooling.monitoring.toolbar">
            <command
                  commandId="hu.bme.mit.incqueryd.tooling.monitoring.commands.startMonitoring"
                  icon="icons/StartMonitoring.png"
                  style="push">
            </command>
            <command
                  commandId="hu.bme.mit.incqueryd.tooling.monitoring.commands.showDashboard"
                  icon="icons/ShowDashboard.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="hu.bme.mit.incqueryd.tooling.monitoring.preferences.MonitoringPreferencePage"
            id="hu.bme.mit.incqueryd.tooling.monitoring.preferences.MonitoringPreferencePage"
            name="Monitoring">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="hu.bme.mit.incqueryd.tooling.monitoring.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
