<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="hu.bme.mit.incqueryd.tooling.monitoring.StartMonitoringAndDashboardHandler"
            id="hu.bme.mit.incqueryd.tooling.monitoring.commands.start"
            name="Start Monitoring and Dashboard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="hu.bme.mit.incqueryd.tooling.monitoring.toolbar">
            <command
                  commandId="hu.bme.mit.incqueryd.tooling.monitoring.commands.start"
                  icon="icons/dashboard.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
