<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 ******************************************************************************
 * Copyright (c) 2013 Oracle
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    Konstantin Komissarchik - initial implementation and ongoing maintenance
 ******************************************************************************
-->

<plugin>

  <!-- 
    ****************
    * EzBug Sample *
    ****************
  -->
  
  <extension point="org.eclipse.ui.commands">
    <command
      id="org.eclipse.sapphire.samples.fileBugReport1"
      name="File Bug Report (Dialog)"
      defaultHandler="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportHandler1"/>
    <command
      id="org.eclipse.sapphire.samples.fileBugReport2"
      name="File Bug Report (White Dialog)"
      defaultHandler="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportHandler2"/>
    <command
      id="org.eclipse.sapphire.samples.fileBugReport3"
      name="File Bug Report (Wizard)"
      defaultHandler="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportHandler3"/>
    <command
      id="org.eclipse.sapphire.samples.fileBugReport4"
      name="File Bug Report (View)"
      defaultHandler="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportHandler4"/>
  </extension>
  
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
      <menu label="Sapphire Samples" id="org.eclipse.sapphire.samples">
        <menu label="EzBug">
          <command
            commandId="org.eclipse.sapphire.samples.fileBugReport1"
            label="File Bug Report (Dialog)..."
            style="push"/>
          <command
            commandId="org.eclipse.sapphire.samples.fileBugReport2"
            label="File Bug Report (White Dialog)..."
            style="push"/>
          <command
            commandId="org.eclipse.sapphire.samples.fileBugReport3"
            label="File Bug Report (Wizard)..."
            style="push"/>
          <command
            commandId="org.eclipse.sapphire.samples.fileBugReport4"
            label="File Bug Report (View)..."
            style="push"/>
        </menu>
      </menu>
    </menuContribution>
  </extension>
  
  <extension point="org.eclipse.ui.views">
    <view 
      id="org.eclipse.sapphire.samples.fileBugReportView" 
      name="File Bug Report (Sapphire Sample)"
      class="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportView"/>
  </extension>
  
  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.ezbug.BugRepositoryEditor"
      name="Bug Repository Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"
      filenames="bugs.xml"
      default="true">
      <class class="org.eclipse.sapphire.ui.swt.xml.editor.SapphireEditorForXml">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.ezbug.EzBug"/>
      </class>
    </editor>
  </extension>
  
  <extension point="org.eclipse.ui.newWizards">
    <wizard
      id="org.eclipse.sapphire.samples.ezbug.CreateBugRepositoryWizard"
      category="Sapphire/Samples"
      name="Bug Repository (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireCreateFileWizard.png">
      <description>Create a bug repository.</description>
      <class class="org.eclipse.sapphire.workspace.ui.CreateWorkspaceFileWizard">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.ezbug.CreateBugRepositoryWizard"/>
        <parameter name="editor" value="org.eclipse.sapphire.samples.ezbug.BugRepositoryEditor"/>
      </class>
    </wizard>
  </extension>
  
</plugin>
