<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rete-recipes -->
      <package
            uri="http://www.eclipse.org/incquery/rete/recipes"
            class="org.eclipse.incquery.runtime.rete.recipes.RecipesPackage"
            genModel="model/rete-recipes.xcore"/>
   </extension>

</plugin>
