  <configuration>
      <property>
          <name>fs.defaultFS</name>
          <value>hdfs://yarn-rm.docker:9000</value>
      </property>
      <property>
          <name>dfs.replication</name>
          <value>1</value>
      </property>
  </configuration>
