<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.core.resources.natures"
      id="hu.bme.mit.incqueryd.tooling.core.natures.iqd"
      name="IncQuery-D Project Nature">
   <runtime>
      <run class="hu.bme.mit.incqueryd.tooling.core.IqdProjectNature" />
   </runtime>
</extension>

</plugin>
