/InstanceSetImpl.java
/InventoryFactoryImpl.java
/InventoryImpl.java
/InventoryPackageImpl.java
/MachineImpl.java
/MachineInstanceImpl.java
/MachineSetImpl.java
/MachineTemplateImpl.java
/TemplateSetImpl.java
