<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 ******************************************************************************
 * Copyright (c) 2013 Oracle
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    Konstantin Komissarchik - initial implementation and ongoing maintenance
 ******************************************************************************
-->

<plugin>

  <extension point="org.eclipse.ui.newWizards">
    <category
      id="Sapphire"
      name="Sapphire">
    </category>
    <category
      id="Samples"
      name="Samples"
      parentCategory="Sapphire">
    </category>
  </extension>

  <!-- 
    ******************
    * Catalog Sample *
    ******************
  -->
  
  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.catalog.CatalogEditor"
      name="Catalog Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"
      filenames="catalog.xml"
      default="true">
      <class class="org.eclipse.sapphire.ui.swt.xml.editor.SapphireEditorForXml">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.catalog.CatalogEditor"/>
      </class>
    </editor>
  </extension>

  <extension point="org.eclipse.ui.newWizards">
    <wizard
      id="org.eclipse.sapphire.samples.catalog.CreateCatalogWizard"
      category="Sapphire/Samples"
      name="Catalog (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireCreateFileWizard.png">
      <description>Create a catalog.</description>
      <class class="org.eclipse.sapphire.workspace.ui.CreateWorkspaceFileWizard">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.catalog.CreateCatalogWizard"/>
        <parameter name="editor" value="org.eclipse.sapphire.samples.catalog.CatalogEditor"/>
      </class>
    </wizard>
  </extension>
  
  <!-- 
    *******************
    * Contacts Sample *
    *******************
  -->
  
  <extension point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/samples/address/1.0"
        uri="schemas/Address.xsd"/>
      <system
        systemId="http://www.eclipse.org/sapphire/samples/contacts/1.0"
        uri="schemas/Contacts.xsd"/>
    </catalogContribution>
  </extension>

  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.contacts.ContactRepositoryEditor"
      name="Contact Repository Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"
      filenames="contacts.xml"
      default="true">
      <class class="org.eclipse.sapphire.ui.swt.xml.editor.SapphireEditorForXml">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.contacts.ContactRepositoryEditor"/>
      </class>
    </editor>
  </extension>
  
  <extension point="org.eclipse.ui.newWizards">
    <wizard
      id="org.eclipse.sapphire.samples.contacts.CreateContactRepositoryWizard"
      category="Sapphire/Samples"
      name="Contact Repository (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireCreateFileWizard.png">
      <description>Create a contact repository.</description>
      <class class="org.eclipse.sapphire.workspace.ui.CreateWorkspaceFileWizard">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.contacts.CreateContactRepositoryWizard"/>
        <parameter name="editor" value="org.eclipse.sapphire.samples.contacts.ContactRepositoryEditor"/>
      </class>
    </wizard>
  </extension>
  
  <!-- 
    *******************
    * Calendar Sample *
    *******************
  -->
  
  <extension point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/samples/calendar/1.0"
        uri="schemas/Calendar.xsd"/>
    </catalogContribution>
  </extension>

  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.calendar.integrated.CalendarEditor"
      class="org.eclipse.sapphire.samples.calendar.integrated.CalendarEditor"
      default="true"
      filenames="calendar.xml"
      name="Calendar Editor"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"/>
  </extension>

  <extension point="org.eclipse.ui.newWizards">
    <wizard
      id="org.eclipse.sapphire.samples.calendar.integrated.CreateCalendarWizard"
      category="Sapphire/Samples"
      name="Calendar (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireCreateFileWizard.png">
      <description>Create a calendar.</description>
      <class class="org.eclipse.sapphire.workspace.ui.CreateWorkspaceFileWizard">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.calendar.integrated.CreateCalendarWizard"/>
        <parameter name="editor" value="org.eclipse.sapphire.samples.calendar.integrated.CalendarEditor"/>
      </class>
    </wizard>
  </extension>
  
  <!-- 
    ***********
    * Journal *
    ***********
  -->
  
  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.journal.JournalEditor"
      name="Journal Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"
      filenames="journal.xml"
      default="true">
      <class class="org.eclipse.sapphire.ui.swt.xml.editor.SapphireEditorForXml">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.journal.JournalEditor"/>
      </class>
    </editor>
  </extension>

  <!-- 
    *******************
    * Reading Journal *
    *******************
  -->
  
  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.reading.ReadingJournalEditor"
      name="Reading Journal Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"
      filenames="reading.xml"
      default="true">
      <class class="org.eclipse.sapphire.ui.swt.xml.editor.SapphireEditorForXml">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.reading.ReadingJournalEditor"/>
      </class>
    </editor>
  </extension>

  <!-- 
    ******************
    * Gallery Sample *
    ******************
  -->
  
  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.gallery.GalleryEditor"
      name="Gallery Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"
      filenames="sapphire-gallery.xml"
      default="true">
      <class class="org.eclipse.sapphire.ui.swt.xml.editor.SapphireEditorForXml">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.gallery.GalleryEditor"/>
      </class>
    </editor>
  </extension>
  
  <extension point="org.eclipse.ui.newWizards">
    <wizard
      id="org.eclipse.sapphire.samples.gallery.CreateGalleryWizard"
      category="Sapphire/Samples"
      name="Gallery (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireCreateFileWizard.png">
      <description>Create a gallery.</description>
      <class class="org.eclipse.sapphire.workspace.ui.CreateWorkspaceFileWizard">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.gallery.CreateGalleryWizard"/>
        <parameter name="editor" value="org.eclipse.sapphire.samples.gallery.GalleryEditor"/>
      </class>
    </wizard>
  </extension>

  <!-- 
    ****************
    * EzBug Sample *
    ****************
  -->
  
  <extension point="org.eclipse.ui.commands">
    <command
      id="org.eclipse.sapphire.samples.fileBugReport1"
      name="File Bug Report (Dialog)"
      defaultHandler="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportHandler1"/>
    <command
      id="org.eclipse.sapphire.samples.fileBugReport2"
      name="File Bug Report (White Dialog)"
      defaultHandler="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportHandler2"/>
    <command
      id="org.eclipse.sapphire.samples.fileBugReport3"
      name="File Bug Report (Wizard)"
      defaultHandler="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportHandler3"/>
    <command
      id="org.eclipse.sapphire.samples.fileBugReport4"
      name="File Bug Report (View)"
      defaultHandler="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportHandler4"/>
  </extension>
  
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
      <menu label="Sapphire Samples" id="org.eclipse.sapphire.samples">
        <menu label="EzBug">
          <command
            commandId="org.eclipse.sapphire.samples.fileBugReport1"
            label="File Bug Report (Dialog)..."
            style="push"/>
          <command
            commandId="org.eclipse.sapphire.samples.fileBugReport2"
            label="File Bug Report (White Dialog)..."
            style="push"/>
          <command
            commandId="org.eclipse.sapphire.samples.fileBugReport3"
            label="File Bug Report (Wizard)..."
            style="push"/>
          <command
            commandId="org.eclipse.sapphire.samples.fileBugReport4"
            label="File Bug Report (View)..."
            style="push"/>
        </menu>
      </menu>
    </menuContribution>
  </extension>
  
  <extension point="org.eclipse.ui.views">
    <view 
      id="org.eclipse.sapphire.samples.fileBugReportView" 
      name="File Bug Report (Sapphire Sample)"
      class="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportView"/>
  </extension>
  
  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.ezbug.BugRepositoryEditor"
      name="Bug Repository Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"
      filenames="bugs.xml"
      default="true">
      <class class="org.eclipse.sapphire.ui.swt.xml.editor.SapphireEditorForXml">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.ezbug.EzBug"/>
      </class>
    </editor>
  </extension>
  
  <extension point="org.eclipse.ui.newWizards">
    <wizard
      id="org.eclipse.sapphire.samples.ezbug.CreateBugRepositoryWizard"
      category="Sapphire/Samples"
      name="Bug Repository (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireCreateFileWizard.png">
      <description>Create a bug repository.</description>
      <class class="org.eclipse.sapphire.workspace.ui.CreateWorkspaceFileWizard">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.ezbug.CreateBugRepositoryWizard"/>
        <parameter name="editor" value="org.eclipse.sapphire.samples.ezbug.BugRepositoryEditor"/>
      </class>
    </wizard>
  </extension>

  <!-- 
    *******************
    * Diagram Samples *
    *******************
  -->
  
  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.map.MapEditor"
      class="org.eclipse.sapphire.samples.map.MapEditor"
      default="true"
      filenames="map.xml"
      name="Map Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"/>
  </extension>
  
  <extension point="org.eclipse.ui.newWizards">
    <wizard
      id="org.eclipse.sapphire.samples.map.CreateMapWizard"
      category="Sapphire/Samples"
      name="Map (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireCreateFileWizard.png">
      <description>Create a map.</description>
      <class class="org.eclipse.sapphire.workspace.ui.CreateWorkspaceFileWizard">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.map.CreateMapWizard"/>
        <parameter name="editor" value="org.eclipse.sapphire.samples.map.MapEditor"/>
      </class>
    </wizard>
  </extension>

  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.architecture.ArchitectureSketchEditor"
      class="org.eclipse.sapphire.samples.architecture.ArchitectureSketchEditor"
      default="true"
      filenames="architecture.xml"
      name="Architecture Sketch Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"/>
  </extension>

  <extension point="org.eclipse.ui.newWizards">
    <wizard
      id="org.eclipse.sapphire.samples.architecture.CreateArchitectureSketchWizard"
      category="Sapphire/Samples"
      name="Architecture Sketch (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireCreateFileWizard.png">
      <description>Create an architecture sketch.</description>
      <class class="org.eclipse.sapphire.workspace.ui.CreateWorkspaceFileWizard">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.architecture.CreateArchitectureSketchWizard"/>
        <parameter name="editor" value="org.eclipse.sapphire.samples.architecture.ArchitectureSketchEditor"/>
      </class>
    </wizard>
  </extension>

  <extension point="org.eclipse.ui.editors">
    <editor
      class="org.eclipse.sapphire.samples.sqlschema.SqlSchemaEditor"
      default="true"
      filenames="sqlschema.xml"
      id="org.eclipse.sapphire.samples.sqlschema.SqlSchemaEditor"
      name="Schema Editor"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"/>
  </extension>

  <extension point="org.eclipse.ui.newWizards">
    <wizard
      id="org.eclipse.sapphire.samples.sqlschema.CreateSqlSchemaEditorWizard"
      category="Sapphire/Samples"
      name="SQL Schema Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireCreateFileWizard.png">
      <description>Create an SQL schema editor.</description>
      <class class="org.eclipse.sapphire.workspace.ui.CreateWorkspaceFileWizard">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.sqlschema.CreateSqlSchemaEditorWizard"/>
        <parameter name="editor" value="org.eclipse.sapphire.samples.sqlschema.SqlSchemaEditor"/>
      </class>
    </wizard>
  </extension>
  
  <!-- 
    *************************
    * Purchase Order Sample *
    *************************
  -->
  
  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.po.PurchaseOrderEditor"
      class="org.eclipse.sapphire.samples.po.PurchaseOrderEditor"
      default="true"
      filenames="*.po"
      name="Purchase Order Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"/>
  </extension>
  
  <extension point="org.eclipse.core.contenttype.contentTypes">
    <content-type
      file-extensions="po"
      priority="high"
      name="Purchase Order (Sapphire Sample)"
      id="po"
      base-type="org.eclipse.core.runtime.xml">
    </content-type>
  </extension>
  
  <extension point="org.eclipse.ui.newWizards">
    <wizard
      id="org.eclipse.sapphire.samples.po.CreatePurchaseOrderWizard"
      category="Sapphire/Samples"
      name="Purchase Order (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireCreateFileWizard.png">
      <description>Create a purchase order.</description>
      <class class="org.eclipse.sapphire.workspace.ui.CreateWorkspaceFileWizard">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.po.CreatePurchaseOrderWizard"/>
        <parameter name="editor" value="org.eclipse.sapphire.samples.po.PurchaseOrderEditor"/>
      </class>
    </wizard>
  </extension>

  <!-- 
    *************************
    * Recursive Tree Sample *
    *************************
  -->
  
  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.recursion.RecursiveTreeEditor"
      name="Recursive Tree Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"
      filenames="recursion.xml"
      default="true">
      <class class="org.eclipse.sapphire.ui.swt.xml.editor.SapphireEditorForXml">
        <parameter name="sdef" value="org.eclipse.sapphire.samples.recursion.RecursiveTreeEditor"/>
      </class>
    </editor>
  </extension>

  <!-- 
    **************
    * UML Sample *
    **************
  -->
  
  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.uml.SystemStructureEditor"
      class="org.eclipse.sapphire.samples.uml.SystemStructureEditor"
      default="true"
      filenames="uml.xml"
      name="UML Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"/>
  </extension>
  
  <!-- 
    ***********************
    * Office Space Sample *
    ***********************
  -->
  
  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.samples.officespace.OfficeSpaceEditor"
      class="org.eclipse.sapphire.samples.officespace.OfficeSpaceEditor"
      default="true"
      filenames="officespace.xml"
      name="Office Space Editor (Sapphire Sample)"
      icon="org/eclipse/sapphire/samples/SapphireFile.png"/>
  </extension>

  <!-- 
    **************************
    * New File Wizard Sample *
    **************************
  -->
  
  <extension point="org.eclipse.ui.commands">
    <command
      id="org.eclipse.sapphire.samples.newfile.OpenCreateFileWizard"
      name="File Bug Report (Dialog)"
      defaultHandler="org.eclipse.sapphire.samples.newfile.OpenCreateFileWizardHandler"/>
  </extension>
  
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.sapphire.samples">
      <command
        commandId="org.eclipse.sapphire.samples.newfile.OpenCreateFileWizard"
        label="New File Wizard..."
        style="push"/>
    </menuContribution>
  </extension>
  
</plugin>
