<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.ecore.presentation.EcoreEditor"
            contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor$Reflective"
            extensions="recipe"
            icon="icons/recipe.png"
            id="org.eclipse.emf.ecore.presentation.ReflectiveEditorID"
            name="Recipe Editor">
      </editor>
   </extension>

</plugin>
